body{
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

#main{
  background-color: #CEE5D0;
  margin: 30px 1px 30px 1px;
  padding-top: 15px;
  border-radius: 5px;
}

#img-div{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
  text-align: center;
}

header{
  text-align: center;
  background-color: #94B49F;
  border-radius: 5px;
  padding: 2px 0 2px 0;
}

#title{
  text-shadow: 5px 5px 2px black;
  color: white;
}

img{
  display:block;
  max-width: 100%;
  border-radius: 5px;
}

img:hover + #img-caption {
  display: block;
}
img:hover{
  width: 60%;
}

#img-caption{
  margin: 15px 0 5px 0;
  display: none;
  font-style: italic;
}

ul{
  max-width: 700px;
  line-height: 1.4;
  list-style-type: disc;
  padding-inline-start: 40px;
  margin: 0 auto 50px auto;
}

blockquote{
  margin: 0 auto 50px auto;
  font-style: italic;
  max-width: 700px;
  text-align:left;
}

li{
  margin: 16px 0;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 0;
}

#image{
  max-width:100%;
  height:auto;
  margin: auto;
}

h3, h4{
  text-align: center;
}

a{
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

a:hover {
  font-weight: bold;
}

#tribute-link:hover{
  font-size: 120%;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

footer{
  margin: 20px auto 20px auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #94B49F;
}
